<section id="about">
    <div class="container ">
      <div class="row">
        <div class="col-lg-8 mx-auto colortextbook">
          <h2>О бібліотеці</h2>
          <p class="opusbookShrift">Бібліотека відкрилась разом з коледжем та з кожним роком бібліотека вдосконалювалась та вдосконалюється.</p>
        
          <p class="opusbookShrift">До послуг наших читачів є комп’ютери з виходом в Інтернет.  Студенти та педагоги можуть знаходити інформацію, що їх цікавить в і Інтернеті, та зберігати її на свої електронні носії.
              У пошуку книг в бібліотеці читачам допомагають бібліотекарі.</p>
          <ul>Бібліотека працює:
            <li>Понеділок - 9:00 до 15:00</li>
            <li>Вівторок - 9:00 до 15:00</li>
            <li>Середа - 9:00 до 15:00</li>
            <li>Четверг - 9:00 до 15:00</li>
            <li>П'ятниця - 9:00 до 15:00</li>
            <li>Субота та неділя вихідний</li>
            </ul>
            <ul>Контакти бібліотеки:
                <li>Номер телефону - +380665458874</li>
                <li>Електрона адреса - library.kmrf@gmail.com</li>
                <li>Наш сайт - LibraryKMRF.net</li>                
                </ul>
                <p class="opusbookShrift">Наше місце знаходження</p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2538.3469586182823!2d30.525601475594016!3d50.490500020244106!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4d1fcc603559f%3A0x3dcdf384303d6432!2z0L_RgNC-0YHQvy4g0JPQtdGA0L7QtdCyINCh0YLQsNC70LjQvdCz0YDQsNC00LAsIDIsINCa0LjQtdCyLCAwMjAwMA!5e0!3m2!1sru!2sua!4v1559381455336!5m2!1sru!2sua" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
      </div>
    </div>
  </section>