<section id="about">
    <div class="container ">
      <div class="row">
        <div class="col-lg-8 mx-auto colortexttt shrifttext">
         
          <form action="/admin" method="POST">
                <div class="input-group">
                    <input type="text" class="form-control" name="name" id="" value="" placeholder="Имя">
                     <input type="text" class="form-control" name="password" id="" value="" placeholder="Пароль">
                    <div class="input-group-append">
                    <button type="submit" class="btn btn-primary" id="">Войти</button> 
                </div>
          </div>
            </form>
          </div>
      </div>
    </div>
  </section>