
<section id="Writer">
	<div class="col-10 main-row-padding-leftrightt  colortexttt">
		<p class="opusbookShrift">Топ авторів</p>                       
	</div>
    <div class=" row main-row-padding-leftrightt colortexttt">
        {{#each authors}}
            <div class="col-lg-2 col-md-4 col-sm-6 marginndownwriter holder">
                <a href="/author/{{this._id}}"><img class=" img-fluid" src="picture/author/{{this._id}}.jpg"></a>
                <a class = " shrifttext">{{this.name}}</a>
            </div>
        {{/each}}
    </div>
</section>