
<section id="main">    
    <form action="post">
        <div class=" row justify-content-center main-row-padding main-row-padding-leftrightt">
            {{#each books}}
                <div class="col-lg-3 col-md-6 col-sm-12 marginntop holder">
                        <a href="/book/{{this._id}}"><img class="img-fluid"  src="picture/book/{{this._id}}.jpg" ></a>
                        <div class="block text-center">
                            <a class="text-white ">{{this.title}}</a>
                            {{#if this.notStock}}
                                <a class="text-white "> (немає в наявності)</a>
                            {{/if}}
                        </div>
                    </div>
            {{/each}}
        </div>
    </form>
</section>