<section id ="ganre">
    <div class="col-10 main-row-padding-leftrightt shrifttext colortextbook">
		<p>Жанри</p>                       
	</div>
        <div class=" col-lg-12 mx-auto colortextbook main-row-padding-leftrightt">
		    <a href="ganre-busines">Бізнес книги</a>
            <a href="ganre-busines">Детективи</a>
            <a href="ganre-busines">Наука</a>
            <a href="ganre-busines">Пригоди</a>
            <a href="ganre-busines">Психологія</a>
            <a href="ganre-busines">Романи</a>
            <a href="ganre-busines">Фентезі</a>
		    </div>
</section>
		