<section id ="ganre">
    <div class="toptop">
    <div class="col-10 main-row-padding-leftrightt colortexttt opusbookShrift ">
		<p>Жанри</p>                       
	</div>
        <div class=" col-lg-12 mx-auto  main-row-padding-leftrightt">
		    <a class="colortexttt shrifttext" href="ganre-busines">Бізнес книги</a> <br>
            <a class="colortexttt shrifttext" href="ganre-detective">Детективи</a><br>
            <a class="colortexttt shrifttext" href="ganre-nauka">Наука</a><br>
            <a class="colortexttt shrifttext" href="ganre-prigodu">Пригоди</a><br>
            <a class="colortexttt shrifttext" href="ganre-psuhologia">Психологія</a><br>
            <a class="colortexttt shrifttext" href="ganre-roman">Романи</a><br>
            <a class="colortexttt shrifttext" href="ganre-fentezi">Фентезі</a><br>
		    </div>
            </div>>
</section>
		