<section id="reg">
      
        
        <form action="post">
            <div class="col-md-8 offset-md-2 col-xl-6  offset-xl-3 col-lg-6 offset-lg-3">
              <div class="form-group align-items-center">
               <div class="input-group col-3">
                    <input type="text" class="form-control" name="PIB" id="PIB" value="ПІБ">
                    <input type="text" class="form-control" name="Number-stud" id="Number-stud" value="">
                    <input type="text" class="form-control" name="Group" id="Group" value="Група">
                    <input type="text" class="form-control" name="Email" id="Email" value="Електрона адреса">
                     <input type="text" class="form-control" name="number-phone" id="Number-phone" value="">
                    <input type="text" class="form-control" name="adress" id="adress" value="Адреса">
                    <input type="text" class="form-control" name="parol" id="parol" value="Пароль">
                    <div class="input-group-append">
                    <button type="submit" class="btn btn-primary" id="">Зареєструватися</button> 
                    <button type="submit" class="btn btn-primary" id="">Вхід</button> 
                </div> 
        </form>
</section>
<section id="vhod">
<form action="post">
            <div class="col-md-8 offset-md-2 col-xl-6  offset-xl-3 col-lg-6 offset-lg-3">
              <div class="form-group align-items-center">
               <div class="input-group col-3">
                    <input type="text" class="form-control" name="PIB" id="PIB" value="ПІБ">
                     <input type="text" class="form-control" name="parol" id="parol" value="Пароль">
                    <div class="input-group-append">
                    <button type="submit" class="btn btn-primary" id="">Зареєструватися</button> 
                    <button type="submit" class="btn btn-primary" id="">Вхід</button> 
                </div> 
             </form>

</section>